<nav class="navbar navbar-expand-lg bg-dark-subtle">
  <div class="container-fluid d-flex justify-content-between">
    {% if request.user.is_authenticated %}
    <h3 class="text-dark d-none d-lg-block">Welcome to Quizy! @{{request.user.username}}</h3>
    {% else %}
    <h3><a class="nav-link active text-dark" aria-current="page" href="{% url 'home' %}">Quizy</a></h3> 
    {% endif %}    
    {% if page == 'home' %}
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search by users, posts title or content..." aria-label="Search" name="query" style="width: 500px;" value="{{ request.GET.query }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-search me-1" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
      </svg>
    </form>
    {% endif %}
    
    
    <div>
      {% if request.user.is_authenticated %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'profile' %}">Profile</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active me-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My Account
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Change Password</a></li>
              <li><a class="dropdown-item" href="#">Delete Account</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
        </ul>
        
      {% else %}
      <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
      {% endif %}
    </div>
  </div>
</nav>